.main-page {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #f2f2f2;
}

.flexbox-2 {
  display: flex;
}

.flexbox-1-item-1 {
  background-color: #3b945e;
  flex-basis: 80px;
  padding-left: 5px;
}

.flexbox-1-item-2 {
  flex-grow: 1; 
}

.left-section {
  min-width: 200px;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #3b945e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content {
  flex-grow: 1;
  flex-basis: 10vh;
  font-size: 20px; 
}
.flexbox-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.flexbox-4 {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.flexbox-5{
  display: flex;
  align-items: center;
  justify-content: center;
}
.show-button{
  margin-top: 20px;
  background-color: black;
  color: white;
}
.show-button:hover {
  color: black;
  background-color: white;
  transition: 0.7s;
}
