<div class="main-container">
  <div>
    <app-user (receiveData)="receiveData($event)"></app-user>
  </div>
  <div class="data-container">
    <h1>User Data</h1>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Age</th>
          <th>Email</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let object of parentInstance">
          <td>{{object.id}}</td>
          <td>{{object.name}}</td>
          <td>{{object.age}}</td>
          <td>{{object.email}}</td>
          <button id="delete-button" (click)="deleteUser(object)"> X</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>

