<div class="main-flexbox">
    <div class="flex-1">
        <span class="users-span">Users</span>
        <button routerLink="/users/form" class="plus-button">+</button>
    </div>
    <table>
        <thead>
            <tr class="border">
                <th>#</th>
                <th>Name</th>
                <th>Age</th>
                <th>Dob</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let object of parentInstance">
                <td>{{object.id}}</td>
                <td>{{object.name}}</td>
                <td>{{object.dob | ageCalculator}}</td>
                <td>{{object.dob | date}}</td>
                <td>
                    <button class="edit-delete edit-button" (click)="editUser(object)">Edit</button>
                    <button class="edit-delete delete-button" (click)="deleteUser(object)">X</button>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div>
        <span class="num-of-items">{{numOfUsers}} items to show.</span>
    </div>
</div>