<div class="data-container">
    <h2>User Data</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date Of Birth</th>
                <th>Age</th>
                <th>Email</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let object of parentInstance">
                <td>{{object.id}}</td>
                <td>{{object.name}}</td>
                <td>{{object.date_of_birth | date}}</td>
                <td>{{object.date_of_birth | ageCalculator}}</td>
                <td>{{object.email}}</td>
                <td><button id="delete-button" class="border-radius" (click)="deleteUser(object)">Delete</button></td>
                <td><button class="border-radius">Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>