<div class="main-flex">

  <div>
    <span class="add-user">{{user.id >=1? 'Edit': 'Add'}} User</span>
  </div>

  <div class="form">
    <form #userForm="ngForm" (ngSubmit)="addUser(userForm)">

      <tr>
        <td><label class="label">Name<span class="required">*</span></label></td>
        <td>
          <input class="input" [(ngModel)]="user.name" type="text" name="user-name" required minlength="3">

          <div class="alert" *ngIf="(userForm.form.controls['user-name']?.touched || userForm.submitted) 
      && userForm.form.controls['user-name']?.errors?.['required']">
            Name is required!
          </div>
          <div class="alert" *ngIf="userForm.form.controls['user-name']?.errors?.['minlength']">
            Name must be at least 3 characters long.
          </div>
        </td>
      </tr>

      <tr>
        <td><label class="label">Date of birth</label></td>
        <td><input class="input" [(ngModel)]="user.dob" type="date" name="date"></td>
      </tr>

      <tr>
        <td><label class="label">Email<span class="required">*</span></label></td>
        <td>
          <input class="input" [(ngModel)]="user.user_email" type="email" name="user-email" required email>
        <div class="alert" *ngIf="(userForm.form.controls['user-email']?.touched || userForm.submitted)
        && userForm.form.controls['user-email']?.errors?.['required']">
          Email is required!
        </div>
        <div class="alert" *ngIf="userForm.form.controls['user-email']?.touched && 
        userForm.form.controls['user-email']?.errors?.['email']">
          Invalid Email!
        </div>
        </td>
      </tr>

      <tr [ngClass]="{'hide-password': user.id >=1}" id="pass">
        <td><label class="label">Password<span class="required">*</span></label></td>
        <td>
          <input class="input" [(ngModel)]="user.password" type="password" name="user-password" #password="ngModel"
          required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">

        <div class="alert" *ngIf="(userForm.form.controls['user-password']?.touched || userForm.submitted) 
        && userForm.form.controls['user-password']?.errors?.['required']">
          Password is required!
        </div>
        <div class="alert" *ngIf="userForm.form.controls['user-password']?.errors?.['pattern']">
          Password must contain at least one number, one uppercase,<br> one lowercase letter,
          and at least 8 characters.
        </div>
        </td>
      </tr>

      <tr>
        <td></td>
        <td>
          <button class="submit" (click)="addUser(userForm)">{{user.id >=1? 'Edit': 'Add'}}</button>
        </td>
      </tr>
    </form>
  </div>
</div>