.alert {
    color: red;
    padding-top: 5px;
    font-size: 12px;
  }
  .container{
    background-color: white;
    padding: 30px 20px 30px;
    border-radius: 15px;
  }
  .submit{
    background-color: #3b945e;
  }
  .submit:hover{
    background-color: #57ba98;
  }
  .section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  .label{
    padding-bottom: 7px;
    font-size: 15px;
  }
  .input{
    border: 1px solid darkgrey;
    border-radius: 10px;
    height: 30px;
    width: 350px;
  }
  .submit-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }